<!DOCTYPE html>
<html ng-app="StressApp">
<head>
  <meta charset="UTF-8">
  <title>Stress App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/home_controller.js"></script>
</head>
<body>

  <h1>Stress App Welcome</h1>

  <div ng-controller="HomeController as home">

  </div>

</body>
</html>

