<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stress App</title>
    <script
        src="/angular/angular.js">
    </script>
    <script
        src="/dist/semantic.min.js">
    </script>
    <script
        src="/jquery/dist/jquery.js">
    </script>
    <script
        src="/js/main.js">
    </script>
    <link
        rel="stylesheet"
        type="text/css"
        href="/dist/semantic.min.css">
</head>

<body>

    <div class="ui one column grid container">
        <div class="column center">
            <h1 class="welcome center header">
                Welcome to Work Flow
            <div
                class="sub header">
                A discussion forum for professional stress
            </div>
            </h1>
        </div>
    </div>

    <nav 
        class="ui pointing blue menu container">
        <h3
            class= "header item">
            <a
                href="/"
                class="item">
                    <img
                        src="/img/home.png"
                        alt="options">
            </a>
        </h3>
            <a
                href="/topics"
                class="item"
                id="topic">
                    <img
                        src="/img/girls.png"
                        alt="Topic">
            </a>
            <a
                href="/posts/new"
                class="item"
                id="write">
                    <img
                        src="/img/write.png"
                        alt="Write">
            </a>
            <a
                href="/read"
                class="item"
                id="read">
                    <img
                        src="/img/raised.png"
                        alt="Read">
            </a>
            <a
                href="/favorites"
                class="item"
                id="favorite">
                    <img 
                        src="/img/heart.png"
                        alt="Favorite">
            </a>
    </nav>

    <div class="ui one column grid container">
        <div class="column center">
            <div class="ui animated button" tabindex="0">
              <div class="visible content">
                <a
                    href="/register">
                    Sign Up
                </a>
                </div>
              <div class="hidden content">
                <a
                    href="/register">
                    Stress Less
                </a>
              </div>
            </div>
            <div class="ui vertical animated button" tabindex="0">
              <div class="hidden content">
                  <i class="question icon"></i>
              </div>
              <div class="visible content">OR</div>
            </div>
            <div class="ui animated button" tabindex="0">
            <div class="visible content">
                <a
                    href="/login/linkedin"
                    class="ui linkedin button">
                    <i class="linkedin icon"></i>
                    LinkedIn
                </a>
                <a
                    href="/auth/linkedin">
                </a>
            </div>
            <div class="hidden content">
                <a
                    href="/login/linkedin"
                    class="ui linkedin button">
                    <i class="linkedin icon"></i>
                    Stress Less
                </a>
                <a
                    href="/auth/linkedin">
                </a>
              </div>
            </div>
        </div>
        <div class="column center">
            <div class="container">
                <h2 class="aligned center">
                    Sign In
                </h2>
            </div>
        </div>
    </div>

    <div
        class="ui form segment container">
        <form
            method="POST" 
            action="/login">
        <div
            class="one field">
                <label
                    for="username">
                    Username
                </label>
                <input
                    type="text"
                    name="user[username]"
                    placeholder="Username" 
                    required autofocus>
        </div>
        <div 
            class="one field">
                <label 
                    for="password">
                    Password
                </label>
                <input
                    type="password"
                    name="user[password]" 
                    placeholder="Password"
                    required autofocus>
        </div>
        <div>
            <button 
                class="ui submit button test"
                type="submit">
                Login
            </button>
        </div>
        </form>
    </div>

<script src="/js/main.js"></script>
</body>
</html>