<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stress App</title>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
    <script src="/dist/semantic.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="container">
        <form class="" action="/register" method="post">
            <h2 class="">Register</h2>

            <label for="first_name" class="">First Name</label>
            <input type="text" id="first_name" name="first_name" class="" placeholder="first_name" required autofocus>

            <label for="last_name" class="">Last Name</label>
            <input type="text" id="last_name" name="last_name" class="" placeholder="Last Name" required autofocus>

            <label for="username" class="">Username</label>
            <input type="username" id="username" name="username" class="" placeholder="Username" required>

            <label for="password" class="">Password</label>
            <input type="password" name="password" id="password" class="" placeholder="Password" required>
            
            <input class= "ui blue submit button" type="submit" value="Register">
          </form>
    </div>
</body>
</html>