<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Stress App</title>
    <script
        src="/angular/angular.js">
    </script>
    <script
        src="/dist/semantic.min.js">
    </script>
    <script
        src="/jquery/dist/jquery.js">
    </script>
    <script
        src="/js/main.js">
    </script>
    <link
        rel="stylesheet"
        type="text/css"
        href="/dist/semantic.min.css">
</head>

<body>
    <div class="column center">
        <h1 class="welcome">
            Welcome to Stress App
        </h1>
    </div>

    <nav 
        class="ui pointing blue menu container">
        <h3
            class= "header item">
            Brand
        </h3>
            <a
                href="/topics"
                class="active item"
                id="topic">
                    <img
                        src="/img/girls.png"
                        alt="Topic">
            </a>
            <a
                href="/posts/new"
                class="item"
                id="write">
                    <img
                        src="/img/write.png"
                        alt="Write">
            </a>
            <a
                href="/"
                class="item"
                id="read">
                    <img
                        src="/img/read.png"
                        alt="Read">
            </a>
            <a
                href="/favorites"
                class="item"
                id="favorite">
                    <img 
                        src="/img/heart.png"
                        alt="Favorite">
            </a>
    </nav>

    <div class="ui relaxed grid container">
        <h2
            class="ui center">
            Check back soon for posts by topic
        </h2>
    </div>

</body>
</html>